/* --Globals--*/

body{
    margin:5% 0 0 0;
    padding:0;
    font-family:arial;
}

img {
  max-width: 100%;
}

a {
  color: #5ca2d9;
}

.paragrafo {
  line-height: 25px;
}

/* -- criando uma grid com css --*/

.grid-caixa{
    width:100%;
    max-width:1200;
}

.grid-caixa *{
    box-sizing:border-box;
}

.row{
    margin-right:10%;
    margin-left:10%;
}

.row:before, .row:after{
    content:"";
    display:table;
    clear:both;
}

/* --definindo colunas-- */

[class*="coluna-"]{
    float:left;
    min-height:1px;
    width:16.66;
    /* --espaço entre colunas-- */
    padding:12px;
}

.coluna-1{
    width: 16.66%;
}
.coluna-2{
    width: 33.33%;
}
.coluna-3{
    width: 50%;
}
.coluna-4{
    width: 66.664%;
}
.coluna-5{
    width: 83.33%;
}
.coluna-6{
    width: 100%;
}


/* --header -- */

/* --linha do logo e barra de pesquisa-- */
header .logo{
    background-image:url('../imagens/logoConversion.png');
    background-repeat:no-repeat;
    height:40px;
}

.pesquisar-grid{
    text-align:right;
}

.caixa-pesquisar {
    border:1px solid #999;
    border-radius:3px;
    display:inline-block;
    position:relative;
}

input,
button {
    background-color:transparent;
    border:0;
}

.pesquisar-btn {
    position:absolute;
    right:0;
    top:0;
    width:40px;
    height:40px;
    background-image:url('../imagens/icone-busca.png');
    background-repeat:no-repeat;
    background-position:center;
    border-left:1px solid #999;
}

.pesquisar-barra {
    padding-right:30px;
    width:300px;
    height:40px;
}

/* --linha da barra de navecação-- */

header .navegacao{
    margin-top:20px;
    padding:0;
    max-width:900px;
}

header .navegacao a{
    font-weight: bold;
    text-decoration:none;
    font-size:15px;
    text-transform: uppercase;
    color:#999;
    margin-right: 30px;
}

header .navegacao a:active{
    color:#666;
}

.mostrar-em-mobile {
    display: none !important;
}

header .menu-fixo{
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

header .menu-fixo .logo {
    float: left;
    background: none;
}

.barras {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  cursor: pointer;
  float: right;
}
.barras:hover {
  opacity: 1;
}
.barras .barra {
  width: 100%;
  height: 4px;
  background-color: #444;
  margin-top: 8px;
}
.barras .barra:first-child {
  margin-top: 0;
}

header .menu-fixo .row-menu-fixo .navegacao{
    text-align:right;
}

header .menu-fixo .row-menu-fixo .navegacao a:last-child{
    margin-right:0;
}


/* --sessão consulta -- */

section.consulta{
    background-color:#394954;
    width:100%;
}

section.consulta .titulo{
    font-size:48px;
    color:#6eb4b2;
    text-transform: uppercase;
    font-weight: bold;
    max-width:500px;
    margin-bottom:0;
}

section.consulta .sub-titulo{
    font-size:32px;
    color:#fff;
    max-width:600px;
    margin:0;
}

section.consulta button{
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    text-align:center;
    width:200px;
    padding:10px;
    margin:0 0 48px 10px;
    border:solid 2px #6eb4b2;
    border-radius:3px;
}

section.consulta button:hover{
    background-color:#fff;
    color:#6eb4b2;
    -webkit-transition-duration:0.6s;
    transition-duration:0.6s;
    cursor:pointer;
}

/* --sessão quem somos-- */

section.quem-somos{
    margin-top:40px;
    margin-bottom:40px;
}

section.quem-somos p.titulo{
    font-size:40px;
    color:#666;
}   

section.quem-somos .predio-sede-imagem{
    width:180px;
    height:226px;
    background-image:url('../imagens/predio-sede.jpg');
    background-position:center;
    background-size:contain;
}

section.quem-somos .coluna-5{
    padding-top:0;
}

section.quem-somos .coluna-5 .quem-somos-texto{
    margin-left:100px;
    max-width:1200px;
}

section.quem-somos .nossos-valores{
    margin-top:3%;
}

section.quem-somos .nossos-valores-titulo{
    color:#666;
    font-size:24px;
    margin-bottom:40px;
}

/* --Sessão serviços-- */

section.servicos p.titulo{
    text-align:center;
    font-size:40px;
    color:#666;
    margin-bottom:0;
}

section.servicos p.sub-titulo{
    margin-top:0;
    text-align: center;
    font-size:24px;
    color:#000;
}

/* --abas referente aos serviços-- */

section.servicos .trocador-abas {
    text-align:center;
}

section.servicos .trocador-abas a{
    text-decoration:none;
}

section.servicos .trocador-abas .row .coluna-2{
    padding:0;
}

section.servicos .trocador-abas .servico-abas{
    font-size:24px;
}

section.servicos .trocador-abas .servico-abas.SEO-inst{
    color:#3887be;
}

section.servicos .trocador-abas .servico-abas.SEO-ecommerce{
    color:#47b274;
}

section.servicos .trocador-abas .servico-abas.consultoria{
    color:#8a8acb;
}

section.servicos .trocador-abas p{
    font-size:14px;
    color:#666;
    margin-top:0;
}

section.servicos .trocador-abas .abas-container{
    padding:12px;
    cursor: pointer;
}

section.servicos .trocador-abas .abas-container:hover{
    background-color:#394954;
    color:#c5c5c5;
}

section.servicos .trocador-abas .abas-container.active{
    background-color:#394954;
}

section.servicos .trocador-abas .servico-abas p{
    font-size:14px;
    color:#999;
    margin-top:0;
}

section.servicos .trocador-abas a.servico-abas.SEO-inst{
    color:#3887be;
}

section.servicos .trocador-abas a.servico-abas.SEO-ecommerce{
    color:#47b274;
}

section.servicos .trocador-abas a.servico-abas.consultoria{
    color:#8a8acb;
}

/* --containeres de conteúdo das abas-- */

section.servicos .container{
    background-color:#394954;
}

section.servicos .container p.titulo{
    font-size:60px;
    color:#fff;
    margin-top:0;
    text-align:left;
}

section.servicos .container p.paragrafo{
    color:#ccc;
}

section.servicos .container button.btn-conteudo{
    margin:50px 0;
    height:50px;
    width:250px;
    border-radius:2px;
    font-weight: bold;
    font-size:18px;
    color:#fff;
}

section.servicos .container .identificador{
    margin-top:50px;
}

section.servicos .container .aba-conteudo{
    display:none;
}

/* --conteúdo da aba SEO-institucional-- */

section.servicos .container #seo-inst-conteudo .identificador{
    color:#3887be;
}

section.servicos .container button.btn-conteudo.seo-inst-btn{
    background-color:#4188bb;
    color:#fff;
}

section.servicos .container button.btn-conteudo.seo-inst-btn:hover{
    color:#4188bb;
    background-color:#fff;
    -webkit-transition-duration:0.6s;
    transition-duration:0.6s;
    cursor:pointer;
}

/* --Conteúdo da aba SEO-ecommerce-- */

section.servicos .container #seo-ecommerce-conteudo .identificador{
    color:#47b274;
}

section.servicos .container #seo-ecommerce-conteudo .titulo{
    max-width:600px;
}

section.servicos .container #seo-ecommerce-conteudo .paragrafo{
    max-width:600px;
}

section.servicos .container button.btn-conteudo.seo-ecommerce-btn{
    background-color:#47b274;
}

section.servicos .container button.btn-conteudo.seo-ecommerce-btn:hover{
    color:#47b274;
    background-color:#fff;
    -webkit-transition-duration:0.6s;
    transition-duration:0.6s;
    cursor:pointer;
}

/* --Conteúdo da aba Consultoria-- */

section.servicos .container #consultoria-conteudo .identificador{
    color:#8a8acb;
}

section.servicos .container button.btn-conteudo.consultoria-btn{
    background-color:#8a8acb;
}

section.servicos .container button.btn-conteudo.consultoria-btn:hover{
    color:#8a8acb;
    background-color:#fff;
    -webkit-transition-duration:0.6s;
    transition-duration:0.6s;
    cursor:pointer;
}

/* --sessão de orcamento--*/

section.orcamento{
    margin-top:80px;
}

section.orcamento p.titulo{
    font-size:40px;
    color:#666;
    margin-bottom:0;
}

section.orcamento p.orcamento-descricao{
    color:#333;
    font-size: 18px;
    line-height:25px;
    margin-bottom:10%;
}

section.orcamento p.titulo-formulario{
    font-size:24px;
    color:#999;
}

/* --configuração dos campos de formulário-- */

/* --formulario de dados pessoais-- */

section.orcamento .formulario-row{
    margin:0;
}

section.orcamento .formulario-row label{
    font-size:16px;
    color:#000;
}

section.orcamento .formulario-row label .obrigatorio{
    color:#f44242;
}

section.orcamento .formulario-row .coluna-3.dados{
    padding:0 5px 30px 5px;
    margin:;
}

section.orcamento .formulario-row .coluna-3.dados input{
    height:40px;
    width:100%;
    border:1px solid #999;
    padding:10px;
    margin:10px 0 30px 0;
}

section.orcamento .formulario-row select{
    height:40px;
    width:100%;
    border:1px solid #3887be;
    padding:10px;
    margin:10px 0 30px 0;
    color:#3887be;
    font-size:16px;
}

/* --formulario de interesses-- */

section.orcamento .formulario-row .coluna-3.interesse{
    padding:0;
}

section.orcamento .formulario-row .coluna-3.interesse .row.checkbox{
    margin: 10px 0;
}

section.orcamento .formulario-row .coluna-3.interesse .row.checkbox:first-child {
    margin-top: 0;
}

.checkbox-input {
  display: inline-block;
  float: left;
  width: 26px;
  height: 26px;
  border: 2px solid #666;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.checkbox-input * {
  cursor: pointer;
}
.checkbox-input input {
  display: none;
}
.checkbox-input .check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
  transition: all 0.1s;
}
.checkbox-input .check.hidden {
  opacity: 0;
  transition: all 0.1s;
}

label.checkbox-input-label {
    float: left;
    line-height: 26px;
}

/* --formulario do projeto-- */

section.orcamento .formulario-row .row.projeto{
    margin:0;
}

section.orcamento .formulario-row .row.projeto .coluna-6{
    padding:0;
}

section.orcamento .formulario-row .row.projeto .coluna-6.descricao{
    padding:0;
    margin-top:40px;
}

section.orcamento .formulario-row .row.projeto textarea{
    resize:none;
    width:100%;
    height:200px;
    padding:10px;
    font-size:18px;
}

section.orcamento .formulario-row .row.projeto button.enviar-form-btn{
    height:40px;
    width:250px;
    border-radius:2px;
    font-weight:bold;
    font-size:18px;
    color:#fff;
    background-color:#3887be;
}

section.orcamento .formulario-row .row.projeto .coluna-6.botao-enviar{
    text-align:right;
    margin-top:20px;
}

section.orcamento .formulario-row .row.projeto button.enviar-form-btn:hover{
    color:#3887be;
    background-color:#fff;
    -webkit-transition-duration:0.6s;
    transition-duration:0.6s;
    border:1px solid #3887be;
}

/* --footer-- */

footer{
    margin-top:50px;
    background-color:#f6f6f6;
}

footer .grid-caixa{
    padding:50px 0 0 0;
}

footer .grid-caixa .footer-titulo{
    text-transform:uppercase;
    font-weight: bold;
}

footer .grid-caixa ul{
    padding:0;
    list-style:none;
}

footer .grid-caixa ul li{
    margin:3px 0;
}

footer .grid-caixa .grid-links .footer-titulo{
    text-transform:uppercase;
    color:#000;
}

footer .grid-caixa ul li a{
    margin:2px 0;
    color:#666;
    text-decoration:none;
}

footer .grid-caixa ul.footer-detalhes{
    text-align:right;
}

footer .grid-caixa ul.footer-detalhes p{
    margin:0;
}

footer .grid-caixa .coluna-4.direitos{
    text-align:center;
}

footer .grid-caixa .direitos-conversion{
    color:#666;
    font-size:14px;
    line-height: 40px;
}

footer .grid-caixa .rede-social{
    display:inline-block;
    text-align:right;
    line-height: 40px;
}

footer .grid-caixa .rede-social a {
    line-height: 40px;
    display: inline-block;
    margin-right: 10px
}

footer .grid-caixa .rede-social a:last-child {
    margin-right: 0px;
}

footer .grid-caixa .rede-social a img{
    height:30px;
    margin-top: 5px;
    background-size:contain;
}

 footer .grid-caixa .rede-social a img{
        width:20px;
        height:20px;
    }

footer .grid-caixa .row.row-footer{
        text-align:center;
    }

footer .grid-caixa .rede-social{
        text-align:center;
    }
}   

