
/* --Arquivo de media-querys a fim de deixar o layout responsivo-- */
@media all and (max-width:976px){
    footer .grid-caixa .rede-social a img{
        width:20px;
        height:20px;
    }
}

@media all and (max-width:1165px){
    footer .grid-caixa .rede-social a img{
        width:25px;
        height:25px;
    }
}

@media all and (max-width:826px){
    .media-tela-cheia{
        width:100%;
    }

    .caixa-pesquisar, .pesquisar-barra {
        width:100%;
    }

    div[class*="coluna-"]{
        width:100%;
    }
    
    footer .grid-caixa ul.footer-detalhes{
        text-align:left;
    }
}

@media all and (max-width:800px){
    .coluna-1{
        width:33.33%;
    }
    .coluna-2{
        width:50%;
    }
    .coluna-3{
        width:83.33%;
    }
    .coluna-4{
        width:100%;
        }
    .coluna-5{
        width:100%;
        }
    .coluna-6{
        width:100%;
    }

    .row .coluna-2:last-of-type{
        width: 100%;
    }

    .row .coluna-5 ~ .coluna-1{
        width: 100%;
    }
}

@media all and (max-width:650px){
    .coluna-1{
        width:50%;
        }
    .coluna-2{
        width:100%;
        }
    .coluna-3{
        width:100%;
        }
    .coluna-4{
        width:100%;
        }
    .coluna-5{
        width:100%;
        }
    .coluna-6{
        width:100%;
    }
}

@media all and (max-width:621px){
    header .navegacao a{
        display:block;
        padding:10px;
        margin-right: 0;
    }

    .mostrar-em-mobile {
        display: block !important;
    }

    .mobile-expandido {
        display: none;
    }
}

@media all and (max-width:400px){
    section.consulta .titulo{
        font-size:43px
    }
}


    